*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px; 
}

.content__list {
  overflow-y: scroll;
  width: 399px;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  scrollbar-width: none;                 
  position: relative;
  padding: 3px;    
}

*::-webkit-scrollbar {
  width: 1px;                            
}
 
.content__details {
  max-height: 534px;
  gap: 26px;
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
}

.result__video-container {
  max-width: 711px;
  max-height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display:flex;
  justify-content: space-between;
  gap: 40px;
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 110px;
  object-fit: cover;
  object-position: center;
  align-self: center;
  }

.content__card-link {
  text-decoration: none;

}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase; 
}

/* Вот тут тогда не очень понятно, в ревью visibility: hidden; отмечено как лишнее, но им я убираю текст с описанием
и дальше вместо него добавляю фразу как в макете, и делаю это через css так как в html мне это не поменять */

.content__video-card-description {
  /* visibility: hidden; */
  width: 200px;
  color: #FFF;
  font-style: normal;
  line-height: 16.2px;
}

/* .content__video-card-description::before {
  content: "Вот, что видит кто-то из команды Практикума, когда не смотрит на код, а смотрит в окно.";
  visibility: visible;
} */

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase; 
}

.content__accent{
  color: #545050;
}

.button {
  border: 1px solid #FFF;
  background-color: transparent;
  color: inherit;
  min-height: 34px;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 700;
  line-height: normal; 
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: normal; 
}

.search-form__textfield {
  background-color: transparent;
  color: inherit;
 border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; 
  border-right: none;
  border-left: none;
  min-width: 225px;
  font-size: inherit;
  font-family: inherit;
  font-style: normal;
  line-height: normal;

  }

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield:active {
  border: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
  }

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-color: transparent;
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 0 2px;
}

.search-form__pseudo-checkbox:hover {
    cursor: pointer;  
}

input[type='checkbox']:checked +span {
  background-color: #fff;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}



.search-form__label:focus-within {
  outline: 1px solid #fff;
  outline-offset: 1px;
} 

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.content__video-card:active {
  background-color: #545050;
}

.content__list-item:has(.content__card-link_current) {      /* fix наводки но не работает ФФ */
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  color: #fff;
}

.content__list-item:focus-within {
  outline: 2px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus-within, .content__card-link:focus-visible  {       
  outline: none; 
}

.search-form{
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

